*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-family: 'Comic sans MS';
}
select{
    text-align: center;
}
nav, footer{
    display: flex;
    height: 9%;
    background-color: #00838F;
    color: #B2DFDB;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
main{
    display: flex;
    height: 82%;
}
aside, section{
    display: flex;
    align-items: center;
    
    width: 50%;
    height: 600px;
    overflow-x: auto;
    flex-direction: column;
}
aside{
    background-color: #B2DFDB;
    gap: 10px;
}
.wycieczka{
    background-color: #00838F;
    opacity: 0.7;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
}
.wycieczka:hover{
    opacity: 1;
}
img{
    float: left;
    border-radius: 30px;
    margin: 7px;
}
li{
    display: inline-block;
    list-style-type: none;
}
a{
    color: #B2DFDB;
    margin-left: 50px;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
